
<h1>Code The Dream</h1>
<%= link_to 'Drivers', controller: 'drivers' %>
<br>
<%= link_to 'Riders', controller: 'riders'  %>
<br>
<%= link_to 'Rides', controller: 'rides' %>


<%#= link_to 'Settings', new_driver_path %>