
<h1>Code The Dream</h1>
<%= link_to 'Drivers', controller: 'drivers' %>
<br>
<%= link_to 'Riders', controller: 'riders'  %>
<%#= link_to 'Rides', new_driver_path %>
<%#= link_to 'Settings', new_driver_path %>